*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    font-family:"Staatliches" , sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color:#000000;
}

.container{
    background-color: grey;
    display:flex;
    flex-direction: column;
    width:500px;
    align-items: center;
    justify-content: center;
    padding: 100px;
    border-radius: 8px;
    
}

.title{
    margin-bottom:20px;
    font-size: 50px;
}

.form{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text_label{
    font-size: 20px;
    margin-bottom:15px;
}

.textbox{
    width: 400px;
    padding: 14px 16px;
    height:200px;
    font-size:18px;
    margin-bottom:20px;
    outline:none;
    border:2px solid black;
    font-family: inherit;
    
}

.textbox.textbox-almost{
    border:2px solid orange;
}

.textbox.textbox-over{
    border:2px solid red;
}

.characters{
    font-size: 20px;
    margin-bottom: 10px;
}

.characters-typed{
    color: #ffffff;
    font-family: inherit;

}

.characters-typed.characters-typed-almost{
    color: orange;
}

.characters-typed.characters-typed-over{
    color:red;
}

.submit-btn{
    border:none;
    width: 100px;
    height:50px;
    padding:10px;
    background-color: #ffffff;
    border-radius: 12px;
    font-family: inherit;
    font-size:20px;
    cursor:pointer;
    box-shadow:0 4px 0 #000000;
    transition:background-color 0.3s ease;
}

.submit-btn:not(:disabled):hover{
    background-color:#000000;
    color:#ffffff;

}

.submit-btn:not(:disabled):active{
    transform:translateY(5px);
    box-shadow: 0 0 0 #000000;
}

.submit-btn:disabled{
    cursor:not-allowed;
    transform: none;
    box-shadow: 0 4px 0 #000000;
}